.content {
    background-color: rgb(247, 247, 247);
}
.mypage {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 1050px;
    margin: 0px auto;
    padding: 50px 0px 80px;
}

.sidebar {
    width: 375px;
    background-color:#fff;
}

.sideMenuList {
    margin-top: 20px;
    padding: 26px 0 16px 20px;
    border:1px solid red;
}

.sideMenuList button,
.sideMenuList a {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    font-weight: 500;
    font-size: 16px;
}

.sideMenuTitle {
    padding: 16px 0px;
    font-weight: 400;
    color: rgb(181, 181, 181);
}

.userNameWrap {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 26px 20px 16px;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 100%;
    border: 1px solid rgb(148, 146, 150);
    color: rgb(148, 146, 150);
    text-align: center;
}

.userName {
    font-size: 20px;
    font-weight: 500;
}

.sideContent {
    width: 650px;
    background-color:#fff;
}

.sideConTitle {
    display: flex;
    align-items: end;
    margin: 0px 20px;
    padding: 25px 0px 20px;
    border-bottom: 2px solid rgb(51, 51, 51);
}

.sideConTitle h3 {
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
}

.sideConInfo {
    font-size: 13px;
    color: rgb(153, 153, 153);
}