.content {
    margin: 50px 0 60px;
    min-width: 1050px;
}

.pageTitle {
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #333;
}

.essentialWrap {
    padding-bottom: 10px;
    text-align: right;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.essential {
    color: rgb(238, 106, 123);
}

.joinFromWrap {
    width: 640px;
    margin: 0px auto;
}

.joinFrom {
    border-top: 2px solid rgb(51, 51, 51);
}

.joinFrom .btnColor {
    margin: 40px auto;
}

.joinItem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.joinItem label {
    width: 139px;
}

.joinItem .btnLine {
    width: 120px;
    margin-left: 8px;
}

.btnLine {
    width: 100%;
    height: 44px;
    padding: 0 10px;
    text-align: center;
    color: rgb(95, 0, 128);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}

.btnColor {
    display: block;
    width: 240px;
    height: 56px;
    padding: 0px 10px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: rgb(95, 0, 128);
}